@import "tailwindcss";

/* Aseguramos que el formulario esté centrado */
form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  /* Aseguramos que el formulario se ajuste al 100% en pantallas móviles */
  .max-w-xl {
    max-width: 100%;
    width: 100%;
    margin-top: 0.5rem;
  }
  
  /* Cambiar márgenes y paddings para pantallas pequeñas */
  @media (max-width: 640px) {
    .max-w-xl {
      padding: 2rem 1rem; /* Ajustar el padding para que no se vea comprimido */
    }
  
    .bg-white {
      background-color: white;
    }
  
    .text-black {
      color: black;
    }
  
    .p-6 {
      padding: 1.5rem;
    }
  
    .bg-indigo-500 {
      background-color: #4c6ef5;
      color: white;
    }
  
    .button-delete {
      width: 100%; /* Aseguramos que el botón de eliminar ocupe todo el ancho */
      margin-top: 1rem;
    }
  
    /* Aseguramos que el formulario no se vaya demasiado abajo */
    .flex-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
  